version: '3.8'
services:
  frontend:
    build: ./docker/client
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  backend:
    build: ./docker/backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=${MONGO_URL}
    restart: always

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
